.smurf {
    background: lightblue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px 0;
    margin: 20px 100px;
    border-radius: 10px;
}

.smurf .name {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

.delete {
    background: rgb(255, 117, 117);
    border: 1px solid gray;
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 5px;
}

.delete:hover {
    background: rgb(255, 205, 205);
    cursor: pointer;
}