.App {
  text-align: center;
  width: 500px;
  margin: 20px auto;
}

.App .title {
  background: lightblue;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px 0;
  border-radius: 10px;
}